@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #00bcd5;
  --color-secondary: #98f7b1;
  --color-lightgray: #f5f5f5;
  --color-lightblack: #000000;
  --color-text: #737373;
  --font-manrope: "Manrope", sans-serif;
}


body {
  @apply font-manrope text-lightblack;
}