@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #60aea2;
  --color-lightgray: #f5f5f5;
  --color-lightblack: #333333;
  --color-text: #737373;
  --font-manrope: "Manrope", sans-serif;
}


body {
  @apply font-manrope pb-24 text-lightblack;
}